#gameGame {
	position:absolute;
	height:100%;
	width:100%;
}

#gameLeftSide {
	width:15%;
	height:100%;
	float:left;
}

#gameRightSide {
	width:85%;
	height:100%;
	float:left;
	padding: 2em;
}

#gameRightSideTop {
	width:100%;
	height:30%;
	border-bottom:solid 1px #aaa;
}

#gameRightSideBottom {
	width:100%;
	height:70%;
	position:relative;
}

#gameRightSideTopLeft {
	width:25%;
	height:100%;
	float:left;
}

#gameRightSideTopMiddle {
	width:20%;
	height:100%;
	float:left;
}

#learnWordButton {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width:100%;
	height:30%;
	text-align:center;
	border: 1px solid black;
	border-radius: 0.5em;
	background-color:lime;
}

#learnWordText {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#gameDisplayWord p {
    font-size : 3em;
    color: #0f0;
    /*text-align: center;*/
    padding-left: 30px;
}

#gameRightSideTopRight {
	width:55%;
	height:100%;
	float:left;
	text-align:right;
}

div.gameInfoBox {
	width:calc(100% - 2em);
	margin:2em 1em;
	padding: 1.5em 0em;
	text-align:center;
	border: solid 1px;
	border-color:#aaa;
	border-radius:0.5em;
}

#gameMedalsDiv {
	height:45%;

}

#gameWordTable {
	height:100%;
    width: 100%;
	margin: 0 auto;
}

#gameWordTable td {
    font-size : 2em;
	text-align:center;
	padding: 0em 1.5em;
}

div.medalIconDiv {
	width:100%;
	height:calc(33% - 0.6em);
	padding-left:5%;
}

div.medalIconDiv:nth-child(2) {
	margin:1em 0em;
}

img.medalIcon {
	height:100%;
	width:auto;
	float:left;
}

.medalCounter {
	float:left;
	margin-top:20%;
}

#gameAvatar {
	height:100%;
	width:auto;
}

#gameWordAndTable {
    float: left;
    width: 95%;
    height: 100%;
}

#gameTableContainer {
    float: left;
    width: 100%;
    height: 100%;
	border-color:#333;
}

#gameTimerCanvas {
    margin-top: 25px;
    width: 100px;
    height: 90%;
}

#gameCanvasContainer {
    float: right;
    height: 100%;
    width: 5%;
    /*bottom: 10px;*/
}

.gameIntroModalRow {
	position:absolute;
	width:100%;
	height:100%
}


.gameModalAnchor {
	height:100%;
	float:left;
	width:50%;
}

.gameModalAnchor img {
	height:100%;
	width:auto;
	margin: 0px auto;
}