#gameGame {
	position:absolute;
	height:100%;
	width:100%;
	background-color:lime;
}

#gameLeftSide {
	width:15%;
	height:100%;
	background-color:blue;
	float:left;
}

#gameRightSide {
	width:85%;
	height:100%;
	background-color:red;
	float:left;
	padding: 2em;
}

#gameRightSideTop {
	width:100%;
	height:30%;
	background-color:pink;
}

#gameRightSideBottom {
	width:100%;
	height:70%;
	background-color:grey;
	position:relative;
}

#gameRightSideTopLeft {
	width:25%;
	height:100%;
	background-color:cyan;
	float:left;
}

#gameRightSideTopMiddle {
	width:20%;
	height:100%;
	background-color:orange;
	float:left;
	text-align:center;
	position:relative;
}

#learnWordText.normal {
	vertical-align:middle;
	position:absolute;
	top:50%;
	left:50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#learnWordText.learning{
	vertical-align:middle;
	position:absolute;
	top:50%;
	left:50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color: red;
}

#gameRightSideTopRight {
	width:55%;
	height:100%;
	background-color:yellow;
	float:left;
	text-align:right;
	border-left: solid 1px;
	border-color:#aaa;
}

div.gameInfoBox {
	width:calc(100% - 2em);
	margin:2em 1em;
	padding: 1.5em 0em;
	text-align:center;
	border: solid 1px;
	border-color:#aaa;
	border-radius:0.5em;
}

#gameMedalsDiv {
	height:45%;

}

#gameWordTable {
	margin-left:5em;
	position:absolute;
	bottom:0;
}

#gameWordTable td {
	border:solid 1px;
	padding:1.5em;
	border-color:#333;
	text-align:center;
}

div.medalIconDiv {
	width:100%;
	height:calc(33% - 0.6em);
	background-color:orange;
	padding-left:20%;
}

div.medalIconDiv:nth-child(2) {
	margin:1em 0em;
}

img.medalIcon {
	height:100%;
	width:auto;
	float:left;
}

.medalCounter {
	float:left;
	margin-top:20%;
}
#gameAvatar {
	height:100%;
	width:auto;
}