#highScoresScreen {
	position:absolute;
	width:100%;
	height:100%;
	text-align:center;
}

#highHeader {
	vertical-align:middle;
	height:10%;
	border:solid 1px red;
}

#highScoresIcons {
	height:30%;
	padding-top:2%;
	border:solid 1px green;
}

#highScoresTableArea {
	padding-top:2%;
	height:50%;
	border:solid 1px red;
}

#highScoreScreenFooter {
	height:10%;
	border:solid 1px cyan;
}

div.highScoreIcon {
	float:left;
	height:100%;
	width:calc(100% / 7);
	border:1px solid blue;
}

img.highScoresLevelImage {
	display:block;
	height:100%;
	width:auto;
	margin:auto;
	max-width:100%;
}

#highScoreslevel06 {
	width:100%;
	height:auto;
}

#highScoresTableDisplay {
	margin:0px auto;
	width:70%;
	height:50%;
	border-collapse:collapse;
	border:1px solid black;
}

#highScoresTableDisplay td{
	border:1px solid black;
	text-align:center;
	padding:2em 0em;
}

#highScoresTableDisplay th{
	border:1px solid black;
	padding:2em 0em;
}