* {
	padding: 0px;
	margin: 0px;
	box-sizing:border-box;
	font-family: Arial, Helvetica, sans-serif;
}

#borderDiv {
	position:absolute;
	border: solid 1px;
	border-radius:0.5em;
	width:calc(100% - 2em);
	height:calc(100% - 2.1em);
	margin:1em;
	border-color:#aaa;
}

#homeContainer {
	position:absolute;
	height:100%;
	width:100%;
    background-image: url(./images/homeScreenBackground.jpg);
    background-size: 100% 100%;
}
#homeScreen h1 {
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;}

#homeHeading {
    position: absolute;
    left: 4%;
    margin-top: 5px;
    color: rgba(251, 239, 126, .6);
}

#homeSubHeading {
    position: absolute;
    right: 14%;
    top: 30%;
    font-size: 2em;
    color: rgba(251, 239, 126, 1);
    /*background-color: gray;*/
}

#homeLeft, #homeRight {
    position: absolute;
    right: 15%;
    bottom: -10%;
    width: 30%;
    min-width: 15em;
    height: 70%;
    /*height: 100%;*/
    float: left;
}

div.homeSideDivs {
    height: 20%;
    width: 100%;
}

div.homeOptions {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width:calc(100% - 2em);
	padding:.5em 0em;
	padding: /*1*/.5em 0em;
	text-align:center;
	border: solid 1px;
	border-color: black;
    border-radius:0.5em;
    cursor: pointer;
    background-color: rgba(114, 6, 6, .8);
    box-shadow: .5em .5em 1em rgba(0, 0, 0, 1)
}

#homePlayGame {
    background-image: url(images/playIcon.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
}

#homePlayGame:hover {
    background-image: url(images/playIconGlow.png);
}

#homeContinue {
    background-image: url(images/continueIcon.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
}

#homeContinue:hover {
    background-image: url(images/continueIconGlow.png);

}

#homeHighScores {
    background-image: url(images/highScoreIcon.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
}

#homeHighScores:hover {
    background-image: url(images/highScoreIconGlow.png);
}

#homeDemo {
    background-image: url(images/demoIcon.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
}

#homeDemo:hover {
    background-image: url(images/demoIconGlow.png);
}

#homeInstructions {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    overflow: auto;
    background-image: url(./images/instructionIcon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 3%;
    margin: 5px;
    cursor: pointer;
}
    
#homeInstructions:hover {
    background-image: url(./images/instructionIconGlow.png);
}

#homeInstructions Img {
    width: 100%;
    /*background-color: DodgerBlue;*/
}

#homeExit {
    position: absolute;
    right: 0;
    top: 0;
    overflow: auto;
    width: 3%;
    background-image: url(./images/exitIcon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 5px;
    cursor: pointer;
}

#homeExit:hover {
    background-image: url(./images/exitIconGlow.png);
/*#homeDemo {
    background-color: Fuchsia;*/
}

#homeExit img {
 width: 100%;
/*#homeExit {
    background-color: LawnGreen;*/
}

#homeContainer {
	position:absolute;
	height:100%;
	width:100%;
    background-image: url(./images/homeScreenBackground.jpg);
    background-size: 100% 100%;
}
#homeScreen h1 {
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;}

#homeHeading {
    position: absolute;
    left: 4%;
    margin-top: 5px;
    color: rgba(251, 239, 126, .6);
}

#homeSubHeading {
    position: absolute;
    right: 14%;
    top: 30%;
    font-size: 2em;
    color: rgba(251, 239, 126, 1);

}

#homeLeft, #homeRight {
    position: absolute;
    right: 15%;
    bottom: -10%;
    width: 30%;
    min-width: 15em;
    height: 70%;
    float: left;
}

div.homeSideDivs {
    height: 20%;
    width: 100%;
}

div.homeOptions {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width:calc(100% - 2em);
	padding:.5em 0em;
	text-align:center;
	border: solid 1px;
	border-color: black;
	border-radius:0.5em;
    cursor: pointer;
    background-color: rgba(114, 6, 6, .8);
    box-shadow: .5em .5em 1em rgba(0, 0, 0, 1)
}


#homePlayGame {
    background-image: url(images/playIcon.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
}

#homePlayGame:hover {
    background-image: url(images/playIconGlow.png);
}

#homeContinue {
    background-image: url(images/continueIcon.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
}

#homeContinue:hover {
    background-image: url(images/continueIconGlow.png);
}

#homeHighScores {
    background-image: url(images/highScoreIcon.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
}

#homeHighScores:hover {
    background-image: url(images/highScoreIconGlow.png);
}

#homeDemo {
    background-image: url(images/demoIcon.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
}

#homeDemo:hover {
    background-image: url(images/demoIconGlow.png);
}

#homeAvatarContainer {
    display: none;
    height: 100%;
    width: 40%;
    float: left;
}

#homeAvatar {
    margin-left: 2em;
    margin-top: 1em;
    height:calc(100% - 2em);
    width:calc(100% - 4em);
    background-color: GoldenRod;
    border: solid 1px;
	border-color:#aaa;
	border-radius:1em;
    text-align: center;
    padding: 0.5em 0;
    color: DarkSlateBlue;
}

#homeAvatar h1 {
    padding-bottom: 0.25em;
}

#homeAvatarPic {
    max-width:100%;
    max-height: 100%;
}

#homeAvatarPic:hover {
    cursor: default;
}

div.homeOptionsRight {
    margin-right: 2em;
}

#homeInstructions {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    overflow: auto;
    background-image: url(./images/instructionIcon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 3%;
    margin: 5px;
    cursor: pointer;
}
    
#homeInstructions:hover {
    background-image: url(./images/instructionIconGlow.png);
}

#homeInstructions Img {
    width: 100%;
}

#homeExit {
    position: absolute;
    right: 0;
    top: 0;
    overflow: auto;
    width: 3%;
    background-image: url(./images/exitIcon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 5px;
    cursor: pointer;
}

#homeExit:hover {
    background-image: url(./images/exitIconGlow.png);
}

#homeExit img {
    width: 100%;
}

#homeModalContent h1 {
    text-align: center;
}

#homeModalHeading {
    height: 20%;
    width: 100%;
}

#homeHeadingCenter {
    height: 65%;
    width: 100%;
}

#homeModalContent h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}