* {
	padding: 0px;
	margin: 0px;
	box-sizing:border-box;
	font-family: Arial, Helvetica, sans-serif;
}

#borderDiv {
	position:absolute;
	border: solid 1px;
	border-radius:0.5em;
	width:calc(100% - 2em);
	height:calc(100% - 2.1em);
	margin:1em;
	border-color:#aaa;
}

.navScreen {
	position:absolute;
	width:100%;
	height:100%;
}

div.dummy {
	clear:both;
}

a {
	text-decoration:none;
}

div.screenHeaderFooter {
	height:10%;
	width:90%;
	text-align:center;
	margin:0px auto;
}

div.screenHeader {
	border-bottom: 1px solid black;
}

div.screenFooter {
	border-top: 1px solid black;
}

div.screenContent {
	height:80%;
	width:100%;
}

.fontArial {
    font-family: Arial, Helvetica, sans-serif;
}

.fontJarmanDotted {
    font-family: "JarmanDotted Dotted", "Lucida Handwriting", "Colonna MT", serif;
}


