* {
	padding: 0px;
	margin: 0px;
	box-sizing:border-box;
	font-family: Arial, Helvetica, sans-serif;
}

#borderDiv {
	position:absolute;
	border: solid 1px;
	border-radius:0.5em;
	width:calc(100% - 2em);
	height:calc(100% - 2.1em);
	margin:1em;
	border-color:#aaa;
}

table {
    margin: 0 auto;
	border: solid 1px;
	border-collapse:collapse;
} 

div.highTables {
    position: relative;
    background-color: yellow;
    height: 85%;
    width: 100%;
    /*margin: 0 auto;
    padding-bottom: 2em;*/
}

#highLeftTable {
    background-color: pink;
    width: 50%;
    float: left;
}

#highRightTable {
    background-color: green;
    width: 50%;
    float: left;
}

td, th {
	padding:1.25em;
	border : solid 1px;
	border-color:#222;
	text-align:center;
}

#highBonusTable td, #highBonusTable th {
    padding: 0.5em;
}

#highScoresScreen {
    position: absolute;
    /*left: 2.5em;
    width: 95%;
    width:calc(100% - 5em);*/
    width: 100%;
    height: 100%;
}

#highHeader {
    position: relative;
    width: 100%;
    height: 15%;
    background-color: blue;
}

#highHeader  h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /*padding: 1em;*/
    text-align: center;
}

div.highTables h2, div.highTables h3 {
    padding-bottom: 0.2em;
    text-align: center;
    margin: 0 auto;
}

#highTopLeftTable{
    padding-bottom: 0.2em;
    text-align: center;
    margin: 0 auto;
}

div.highTableSections {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#highlevelCaption {
    margin-right: 1em;
    float: right; 
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#containerTable {
    width: 100%;
    height: 100%;
}

div.highSideLeftTable{
    background-color: purple;
    height: 100%;
    width: 100%;
    float: left;
}

#highLevelGamesTable {
    float: left;
}

div.highClearFloats {
    clear: both;
}