#levelSelectScreen {
	height: 100%;
}

.levelSelectRow {
	float: left;
	clear: left;
	height: calc(30%-1em);
	width: 100%;
}

.levelSelectDivIconContainer {
	float: left;
	position: relative;
	left: -3%;
	width: 33.3%;
	height: 100%;
}

#levelSelectDivLevel {
	width: 100%;
}

.levelSelectDivIconContainer p {
	text-align: center;
	height: 1em;
}

.levelSelectIcon {
	height: 80%;
	width: 100%;
	margin: 0 auto;
}