#levelSelectScreen {
	height: 90%;
}

.levelSelectRow {
	float: left;
	clear: left;
	height: calc(33.3% - 0.666em);
	width: 100%;
}

.levelSelectDivIconContainer {
	float: left;
	position: relative;
	left: -3%;
	width: 33.3%;
	height: 100%;
}

#levelSelectDivLevel {
	width: 100%;
}

.levelSelectDivIconContainer p {
	text-align: center;
	height: 1em;
}

.levelSelectIcon {
	height: calc(100% - 4em);
	width: 100%;
	margin: 0 auto;
	margin-bottom: 1em;
}