* {
	padding: 0px;
	margin: 0px;
	box-sizing:border-box;
	font-family: Arial, Helvetica, sans-serif;
}

#borderDiv {
	position:absolute;
	border: solid 1px;
	border-radius:0.5em;
	width:calc(100% - 2em);
	height:calc(100% - 2.1em);
	margin:1em;
	border-color:#aaa;
}

#loginScreen {
    height: 100%;
    width: 100%;
    background-image: url(./images/logInBackground.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#loginForm {
    padding: 1em;
    width: 45%;
    max-width: 28em;
    min-width: 20em;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255,255,255, .5);
    margin: 0 auto;
    text-align: center;
    border-radius: 1em;
}

#loginFieldset {
    width:calc(100% - 2em);
	height:calc(100% - 2em);
    margin-left: 1em;
    margin-top: 1em;
	border: none;
}

#loginFieldset h2, #loginFieldset p{
    padding: 0.25em 0;
/*     text-align: center;
 */}
 
 #loginFieldset h1 {
    color: DarkSlateBlue; 
    padding:0;
}

#loginFieldset h2 {
   color: white;
}
   
#loginFormLabelDiv {
    display: inline-block;
    /* position: relative;
    left: 50%;
    transform: translateX(-50%); */
}

#loginFormLabelDiv label {
    float: left;
    width: 8em;
    clear: left;
    text-align: right;
    height: 2em;
    padding:0.25em 0.5em 0.75em 0;
}

.loginInputField {
    width: 16em;
    height: 2em;
    margin-bottom: 0.75em;
}

#loginEnterBtn {
    width: 7em;
    height: 2em;
}
/*
#loginMessage {
    margin-top: 0.5em;
}*/

#loginExit {
    float: right;
    margin: 2em;
    width: 7em;
    height: 2em;
    /*border: solid 1px;
	border-color:#aaa;
	border-radius:0.5em;*/
}