* {
	padding: 0px;
	margin: 0px;
	box-sizing:border-box;
	font-family: Arial, Helvetica, sans-serif;
}

#borderDiv {
	position:absolute;
	border: solid 1px;
	border-radius:0.5em;
	width:calc(100% - 2em);
	height:calc(100% - 2.1em);
	margin:1em;
	border-color:#aaa;
}

#registerForm h2 {
    color: rgba(162, 0, 38, 1);
}

#registerScreen {
    height: 100%;
    width: 100%;
    background-image: url(./images/logInBackground.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#registerForm {
    padding: 1em;
    width: 45%;
    max-width: 28em;
    min-width: 32em;
    height: auto;
    background-color: PaleGreen;
    padding: 1em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    text-align: center;
    border-radius: 1em;
    background-color: rgba(255,255,255, .5);
}

#registerFieldset {
    border: none;
	/* border-color:#aaa;
	border-radius:0.5em; */
    width:calc(100% - 2em);
	height:calc(100% - 2em);
    margin-left: 1em;
    margin-top: 1em;
}

#registerFieldset h1 {
    color: DarkSlateBlue; 
}

#registerFieldset h2, #registerFieldset h1, #registerFieldset p{
    padding: 0.5em 0;
    text-align: center;
}

.registerFormLabelDiv {
    width: 30%;
    float: left;
}

.registerFormLabelDiv label {
    float: right;
    padding: 0.25em 0.75em 0 0;
}

.registerInputContainer {
    width: 55%;
    padding-bottom: 0.5em;
    float: left;
}

.registerInputField {
    width: 16em;
    height: 2em;
    margin-bottom: 0.75em;
}

#registerData {
    width: 9em;
    height: 2.75em;
}

#registerExit {
    float: right;
    margin: 2em;
    width: 7em;
    height: 2em;
}