.nextGameModal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    width: 50%;
    height: 50%;
}

.nextGameModal > div {
    width: 50%;
    height: 50%;
}

.gameInfoBoxHorizontal {
    position:absolute;
    width: 100%;
    height: 100%;
}

.gameMedalDiv {
    height:100%;
    float: left;
    width:33%;
}

.gameNextGameTitle h1 {
    
}

img.medalIcon {
	height:100%;
	width:auto;
	float:left;
}