#gameNextGameModalContent {
	width: 50%;
	height: 50%;
	position: relative;
	margin: 10% auto;
}

div.gameNextGameModalRow {
	width:100%;
	height:calc( 100% / 3);
	text-align:center;
}

div.gameNextGameModalMedalContainer {
	height:100%;
	width: calc( 100% / 3);
	float :left;
}

div.gameNextGameModalMedalContainer img{
	height:100%;
	width:auto;
}

div.gameNextGameButton {
	width:calc( 100% / 2);
	height:100%;
	background-color:pink;
	float:left;
	text-align:center;
}