#highScoresScreen {
	position:absolute;
	width:100%;
	height:100%;
	text-align:center;
}

#highScoresIcons {
	height:30%;
	padding-top:2%;
}

#highScoresTableArea {
	padding-top:2%;
	height:50%;
}

div.highScoreIcon {
	float:left;
	height:100%;
	width:calc(100% / 7);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}

img.highScoresLevelImage {
	display:block;
	height:100%;
	width:auto;
	margin:auto;
	max-width:100%;
}

#highScoreslevel06 {
	width:100%;
	height:auto;
}

#highScoresTableDisplay {
	margin:0px auto;
	width:70%;
	height:50%;
	border-collapse:collapse;
	border:1px solid black;
}

#highScoresTableDisplay td{
	border:1px solid black;
	text-align:center;
	padding:2em 0em;
}

#highScoresTableDisplay th{
	border:1px solid black;
	padding:2em 0em;
}

#highScore1Div {
	background-image:url(../images/icecream.png);
}

#highScore2Div {
	background-image:url(../images/tree.png);
}

#highScore3Div {
	background-image:url(../images/cloud.png);
}

#highScore4Div {
	background-image:url(../images/lollipop.png);
}

#highScore5Div {
	background-image:url(../images/pirate.png);
}

#highScore6Div {
	background-image:url(../images/car.png);
}

#highScore0Div {
	background-image:url(../images/star.png);
}
