.levelSelectRow {
	height: calc(100% / 3);
	width: 100%;
}

.levelSelectIconContainer {
	float:left;
	width:calc(100% / 3);
	height:100%;
	border: solid 1px cyan;
		background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}

#levelSelectIconContainer01 {
	background-image:url(../images/icecream.png);
}

#levelSelectIconContainer02 {
	background-image:url(../images/tree.png);
}

#levelSelectIconContainer03 {
	background-image:url(../images/cloud.png);
}

#levelSelectIconContainer04 {
	background-image:url(../images/lollipop.png);
}

#levelSelectIconContainer05 {
	background-image:url(../images/pirate.png);
}

#levelSelectIconContainer06 {
	background-image:url(../images/car.png);
}

#levelSelectIconContainer00 {
	background-image:url(../images/star.png);
}