 #levelSelectScreen{
    background-image: url(../images/levelSelectBackground.jpg);
    background-size: cover;
    background-position: center;
}

#levelSelectScreen h2 {
	font-size: 1.5em;
	text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
	color: rgba(251, 239, 126, .8);
}

.levelSelectRow {
    position: relative;
    left: 5%;
	height: calc(100% / 3);
	width: 80%;
    margin: 0 auto;
}

.levelSelectIconContainer {
	float:left;
	width:calc(100% / 3);
	height:100%;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
	padding-top:1em;
    cursor: pointer;
}

#level1:hover > h2, #level2:hover > h2, #level3:hover > h2, #level4:hover > h2, #level5:hover > h2, #level6:hover > h2, #level7:hover > h2, #level0:hover > h2{
    color: rgba(251, 239, 126, 1);
}

.levelSelectLockContainer {
    overflow: auto;
    position: absolute;
    z-index: 2;
    bottom: 0;
    height: 25%;
    width: calc(100% / 3);
    background-image: url(../images/imgLock.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.locked {
    opacity: .4;
    cursor: not-allowed;
}