.levelSelectRow {
	height: calc(100% / 3);
	width: 100%;
	border: solid 1px red;
}

.levelSelectIconContainer {
	float:left;
	width:calc(100% / 3);
	height:100%;
	border: solid 1px cyan;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
	padding-top:1em;
}